{% extends "issuesapp/base.html" %}
{% block content %}
<form action="{% url 'issuesapp:create' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container">
    {% if form.error and form.non_field_errors %}
      <span class="alert alert-danger" role="alert">{{ form.non_field_errors }}</span>
    {% endif %}
  </div>
  <div class="container mb-3 mt-3 ms-2">
    {{ form.title }}
    <span>{{ form.error.title }}</span>
  </div>
  <div class="container mb-3 mt-3 ms-2">
    {{ form.description }}
    <span>{{ form.error.description }}</span>
  </div>
  <div class="container mb-3 mt-3 ms-2">
    {{ form.image }}
    <span>{{ form.error.image }}</span>
  </div >

  <div class="container mb-3 mt-3 ms-2">
    {{ form.tags }}
    {% if form.tags.errors %}
      <span>{{ form.tags.errors }}</span>
    {% endif %}
  </div>


  <div class="container mb-3 mt-3 ms-2">
    <button type="submit" class="btn btn-success">Send</button>
    <button type="reset" class="btn btn-danger">Reset</button>
  </div>
</form>
{% endblock content %}
