{% extends "issuesapp/base.html" %} {% block content %} {% load static %} {% for issue in issues %}
<div class="container mt-3 ms-5 w-50">
  <div class="card">
    <a href="{% url "issuesapp:issue" issue.id %}" class="card-link"></a>
    <div class="card-body">
      <h5 class="card-title">{{issue.title}}</h5>
      <p class="card-text" style = "overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* Number of lines to show */
      -webkit-box-orient: vertical;">{{issue.description}}</p>
    </div>
  </div>
</div>
{% endfor %} {% endblock content %}
